<!-- slider section start -->
<!-- <div id="aboutus-banner"class="p-0 home-banner layout-2-menu shadow-home inner-banner"> -->
<!--   <img src="{{section.settings.about_banner_image | img_url: '2048x2048'}}" alt=""> -->
<!--   <div class="desc">
    <div class="container">
      <div class="text-block">
        <h2>About Us</h2>
      </div>
    </div>
  </div> -->
<!-- </div> -->
<!-- slider section end-->


<!-- slider-section start -->
<div class="slider-section">
  <div class="container">
    <div class="desc-text">
      <div class="title-block" style="text-align:center">
        <div class="title-subheading golden">
          <h4 class="golden">
          	FIND OUT MORE ABOUT OUR STORY AND OUR
          </h4>
        </div>
        <div class="bold-text">
          <h1>
          	MEDICINAL MUSHROOMS & SUPERFOODS
          </h1>
        </div>
        <div class="content-top">
        	<a href="https://www.antioxi.co.uk/collections/medicinal-mushrooms" class="join_btn">Mushrooms</a>
            <a href="https://www.antioxi.co.uk/collections/superfoods-1" class="join_btn">Superfoods</a>
        </div>
      </div>    
    </div>
  </div>
</div>
<!-- slider-section end -->



<!-- About desc section start -->
<div class="about-section" id="about-heading">
  <div class="container">
    <div class="desc-text">
      <div class="title-block" style="text-align:center">
<!--         <div class="squer-block"></div> -->
        <div class="title-text">
          <h2>{{section.settings.about_banner_text}}</h2>
        </div>
        <div class="title-subheading golden">
          <h4 class="golden">{{section.settings.sub_heading}}</h4>
        </div>
        <div class="content-top">
          <p>{{section.settings.about_textarea}}</p>
        </div>
        <div class="content-bottom">
        	{{ section.settings.about_link }}
        </div>
<!--         <div class="title-text">
        	<p><a href="https://chirpnation.co.uk/collections" style="">Buy Now</a></p>
      	</div> -->
      </div>    
    </div>
  </div>
</div>







<!-- our-founders start -->
<!-- <div class="our-founders">
  <div class="container">
    <div class="desc-text">
      <div class="title-block" style="text-align:center">
        <div class="squer-block"></div>
        <div class="title-text">
          <h2>
            {		{section.settings.about_banner_text}}
            MEET OUR FOUNDERS
            </h2>
        </div>
        <div class="title-subheading golden">
          <h4 class="golden">
            {		{section.settings.sub_heading}}
            DANIELA & MARCO
          </h4>
        </div>
      
        <div class="img-wrapper">
        	<img src="https://cdn.shopify.com/s/files/1/0073/8102/4820/t/36/assets/founder-img.png?v=1618383003" />
        </div>
        <div class="title-text">
        	<p><a href="https://chirpnation.co.uk/collections" style="">Buy Now</a></p>
      	</div>
      </div>    
    </div>
  </div>
</div> -->
<!-- our-founders end -->











<!-- the-promise start -->
<div class="the-promise">
  <div class="container-flud bottles-bg"></div>
<div class="container promise-content">
    <div class="desc-text">
      <div class="title-block" style="text-align:center">
<!--         <div class="squer-block"></div> -->
        <div class="title-text">
          <h2>
<!--             {	{section.settings.about_banner_text}} -->
            THE PROMISE
          </h2>
        </div>
        <div class="title-subheading golden">
          <h4 class="golden">
<!--             {	{section.settings.sub_heading}} -->
            WE BELIEVE IN OUR PRODUCTS AND THIS IS WHY
          </h4>
        </div>

      </div>    
</div><div class="four-features">

<div class="row">
      <div class=" col-sm-6 col-md-3 col-lg-3 col-xl-3">
        <div class="block">
          <div class="icon-box">
            <img src="https://cdn.shopify.com/s/files/1/0073/8102/4820/t/36/assets/microscope2.png?v=1620427583">
          </div>
          <div class="text-block">
            <h5>Science Backed</h5>
          </div>
        </div>
      </div>
      <div class=" col-sm-6 col-md-3 col-lg-3 col-xl-3">
        <div class="block">
          <div class="icon-box">
            <img src="https://cdn.shopify.com/s/files/1/0073/8102/4820/t/36/assets/leaf2.png?v=1620427624">
          </div>
          <div class="text-block">
            <h5>Organic Certified</h5>
          </div>
        </div>
      </div>
      <div class=" col-sm-6 col-md-3 col-lg-3 col-xl-3">
        <div class="block">
          <div class="icon-box">
            <img src="https://cdn.shopify.com/s/files/1/0073/8102/4820/t/36/assets/hands2.png?v=1620427516">
          </div>
          <div class="text-block">
            <h5>Farmed Sustainably</h5>
          </div>
        </div>
      </div>
       <div class=" col-sm-6 col-md-3 col-lg-3 col-xl-3">
        <div class="block">
          <div class="icon-box">
            <img src="https://cdn.shopify.com/s/files/1/0073/8102/4820/t/36/assets/badge2.png?v=1620427664">
          </div>
          <div class="text-block">
            <h5>30 Day Guarantee</h5>
          </div>
        </div>
      </div>      
       
      </div>

</div>
  </div>
</div>
<!-- the-promise end -->










<!-- join-journey start -->
<div class="join-journey-bg">
  <img class="join-us-journey-img" src="https://cdn.shopify.com/s/files/1/0073/8102/4820/files/AdobeStock_240503436_1920x1080.jpeg?v=1589305179" />
  <div class="join-journey">
  <div class="container">
    <div class="white-card">
    <div class="desc-text">
      <div class="title-block" style="text-align:center">
        
        <div class="title-subheading golden">
          <h4 class="golden">JOIN US ON THIS JOURNEY</h4>
        </div>
        <div class="content-top">
          <p>By joining Antioxi, you will not only benefit from an extensive range of Superfood
Powders & Medicinal Mushrooms, but you will also become part of the Antioxi community -
A community of individuals who care about the environment, who value their
health and who see the bigger picture.<br />
<p>            
We are Antioxi - Honest Foods You Can Trust
</p>
<a href="" class="join_btn">Join us</a>
        </div>
       

      </div>    
    </div>
</div>
  </div>
</div>
  </div>
<!-- join-journey end -->










<!-- <div class="no-common" id="aboutus-bottom">
  <div class="container">
    <div class="row justfy-content-center">
      <h2 class="product_heading" style=" line-height: 42px; padding: 0px 30px;">The Superpower in Superfoods </h2>       
    </div>
    
    <div class="row" id="aboutus-common">
      <div class=" col-sm-6 col-md-3 col-lg-3 col-xl-3">
        <div class="block">
          <div class="icon-box">
            <img src="https://cdn.shopify.com/s/files/1/0073/8102/4820/files/1_2500d685-4464-42cf-992c-f86697791b6d.png?v=1589463980" />
          </div>
          <div class="text-block">
            <h5>Immune Boost</h5>
            <h6>#F***Covid19</h6>
          </div>
        </div>
      </div>
      <div class=" col-sm-6 col-md-3 col-lg-3 col-xl-3">
        <div class="block">
          <div class="icon-box">
            <img src="https://cdn.shopify.com/s/files/1/0073/8102/4820/files/2_381407d5-8bc7-4c68-906f-8a73810e92f6.png?v=1589463981" />
          </div>
          <div class="text-block">
            <h5>Brain Enhancement</h5>
            <h6>#StayWoke</h6>
          </div>
        </div>
      </div>
      <div class=" col-sm-6 col-md-3 col-lg-3 col-xl-3">
        <div class="block">
          <div class="icon-box">
            <img src="https://cdn.shopify.com/s/files/1/0073/8102/4820/files/3_a59f9835-fe3a-48d2-adf1-77c67acb2475.png?v=1589463980" />
          </div>
          <div class="text-block">
            <h5>Gut Microbiota</h5>
            <h6>#Strength_in_Diversity</h6>
          </div>
        </div>
      </div>
       <div class=" col-sm-6 col-md-3 col-lg-3 col-xl-3">
        <div class="block">
          <div class="icon-box">
            <img src="https://cdn.shopify.com/s/files/1/0073/8102/4820/files/4.png?v=1589463980" />
          </div>
          <div class="text-block">
            <h5>Wheight Control</h5>
            <h6>#Look_good_feel_good</h6>
          </div>
        </div>
      </div>      
       
      </div>
    </div>    
  </div> -->

<!-- <div class="product-details" id="product-detailsection-2">
  <div class="container" style="max-width: 100% !important;">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12 join-img" id="join-img2" style="display: none;">
          
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12" style="margin: auto;">
        <div class="join_section">
        	<h2 class="product_heading" style="text-transform: none; line-height: 42px;">JOIN US ON THIS JOURNEY</h2>    
          <h6>By joining AntiOxi, you will not only benefit from a wide range of Superfood Powders & Capsules, but you will also become part of the AntiOxi community - A community of individuals who care about the environment, who value their health and who see the bigger picture.<br>We are AntiOxi - Natural, Sustainable & Science backed 
</h6>
          <p><a href="/collections" style="" class="join_btn">Join us</a></p>
        </div>       </div>
      <div class="col-lg-6 col-md-6 col-sm-12 join-img" id="join-img1">
          <img src="https://cdn.shopify.com/s/files/1/0073/8102/4820/files/AdobeStock_240503436.jpeg?v=1589305179" />
      </div>
      
     
    </div>
  </div>
</div> -->

<!-- About desc section End -->




<!-- Founder section start -->
<div class="founder-section" style="display: none">
  <div class="founder-container">
    
   {% for block in section.blocks %} 
    <div class="founder-block woman">
      <div class="img-block">
        <img src="{{ block.settings.about_section_first_image | img_url:'1024x1024' }}" alt="">
      </div>
      <div class="text-block">
        <h4>{{block.settings.about_section_first_title}}</h4>
        <h5>{{block.settings.about_section_designation}}</h5>
        <h3>{{block.settings.about_section_first_textarea}}</h3>
      </div>
      <div class="clearfix"></div>
    </div>
   {% endfor %}
    
    <div class="clearfix"></div>
  </div>
</div>

<!-- Founder section start -->





{% schema %}
  {
    "name": "About Section",
    "settings": [
      {
		"type": "image_picker",
		"id": "about_banner_image",
		"label": "Set Banner Image"
      },
	  {
		"type": "text",
		"id": "about_banner_text",
		"label": "Set Banner Title"
      },
		{
		"type": "textarea",
		"id": "sub_heading",
		"label": "Sub Heading"
      },

	  {
		"type": "textarea",
		"id": "about_textarea",
		"label": "About Us Description"
      },
	 {
		"type": "html",
		"id": "about_link",
		"label": "Link Text"
      }
	  	
	],
	"blocks": [
		{
			"type": "about_section_second",
			"limit": 2,
			"name": "What We Do Section",
			"settings": [
				{
					"type": "image_picker",
                    "id": "about_section_first_image",
                    "label": "Set Image"
				},
				{
                    "type": "text",
                    "id": "about_section_first_title",
                    "label": "Set Title"
                },
				{
                    "type": "text",
                    "id": "about_section_designation",
                    "label": "Set Designation"
                },
				{
                    "type": "textarea",
                    "id": "about_section_first_textarea",
                    "label": "Set Description"
                }
			]
		}
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
