
<!-- Banner section start -->
<!--   <div class="p-0 home-banner layout-2-menu shadow-home inner-banner">
    <img src="{{ section.settings.banner_image | img_url: '1024x1024' }}" alt="">
    <div class="desc">
      <div class="container">
        <div class="text-block">
          <h2>{{ section.settings.banner_text }}</h2>
        </div>
      </div>
    </div>
  </div> -->
<!-- Banner section end-->

<section id="tabs" class="products-listing-tab">
     {%- capture contentForQuerystring -%}{{ content_for_header }}{%- endcapture -%}
{%- assign pageUrl = contentForQuerystring | split:'"pageurl":"' | last | split:'"' | first | split:'sort_by=' | last |
   replace:'\/','/' | 
   replace:'%20',' ' | 
   replace:'\u0026','&'
-%}
<!--       <nav>
         <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
           
          {% assign collection2 = collections[section.settings.collection2] %}
           
           <a class="nav-item nav-link active" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="true">
           
             <div class="nav-img"><img src="{{ collection2.image | img_url }}"></div>
             <span>{{ collection2.title }} {% if collection2.metafields.custom_fields["collection_fields_text"] != blank %}{{ collection2.metafields.custom_fields["collection_fields_text"] }}{%endif%} </span></a>
           {% assign collection1 = collections[section.settings.collection1] %}
           
           <a class="nav-item nav-link" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="false">
           	<div class="nav-img"><img src="{{ collection1.image | img_url }}"></div>
            <span>{{ collection1.title }} {% if collection1.metafields.custom_fields["collection_fields_text"] != blank %}{{ collection1.metafields.custom_fields["collection_fields_text"] }}{%endif%}</span></a>  
        </div>
      </nav> -->
   <div class="container" style="max-width: 90%;">
      <div class="tab-content px-3 px-sm-0" id="nav-tabContent">
         <div class="tab-pane fade" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
            <div class="product-wrap">
               <div class="row">
                 
                  <!-- Loop Starts -->
                 {% for product in collection1.products %}
                  <div class="col-md-4  col-sm-12">
                     <div class="product-box">
                        <div class="img-block">
                          <a href="{{ product.url }}"><img src="{{ product.featured_image | img_url: '1024x1024' }}" alt=""></a>
                        </div>
                        <div class="text-block">
                          <h4><a href="{{ product.url }}">{{ product.title }}</a></h4>
                           {% assign product_description = product.description | split: '<!-- split -->' %}
                           {{ product_description.first }}
                        </div>
                       
                        <div class="item-wrap">
                           <div class="item">
                             {% if product.metafields.custom_fields["custom_fields_allergies_image"] != blank %}
                              <div class="icon">
                                 {{ product.metafields.custom_fields["custom_fields_allergies_image"] }}
                              </div>
                             {% endif %}
                             {% if product.metafields.custom_fields["custom_fields_allergies"] != blank %}
                              <div class="text">
                                 {{ product.metafields.custom_fields["custom_fields_allergies"] }}
                              </div>
                             {% endif %}
                           </div>
                           <div class="item">
                              {% if product.metafields.custom_fields["custom_fields_uk_image"] != blank %}
                              <div class="icon">
                                 {{ product.metafields.custom_fields["custom_fields_uk_image"] }}
                              </div>
                             {% endif %}
                             {% if product.metafields.custom_fields["custom_fields_uk"] != blank %}
                              <div class="text">
                                 {{ product.metafields.custom_fields["custom_fields_uk"] }}
                              </div>
                             {% endif %}
                           </div>
                           <div class="item">
                              {% if product.metafields.custom_fields["custom_fields_sustainable_imag"] != blank %}
                              <div class="icon">
                                 {{ product.metafields.custom_fields["custom_fields_sustainable_imag"] }}
                              </div>
                             {% endif %}
                             {% if product.metafields.custom_fields["custom_fields_sustainable"] != blank %}
                              <div class="text">
                                 {{ product.metafields.custom_fields["custom_fields_sustainable"] }}
                              </div>
                             {% endif %}
                           </div>
                        </div>
                       
                        <div class="btn-block">
                           <a href="{{ product.url }}">Details</a>
                        </div>
                     </div>
                  </div>
                 {% endfor %}
                  <!-- Loop Ends -->

              
                  <!-- Loop Starts -->
                 {% assign products = collections['powder'].products | sort: pageUrl %}
{% for product in products %}
                
                  <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                     <div class="product-box">
                        <div class="img-block">
                           <a href="{{ product.url }}"><img src="{{ product.featured_image | img_url: '1024x1024' }}" alt=""></a>
                        </div>
                        <div class="text-block">
                          <div class="des-top">
                            {% assign product_description = product.description | split: '<!-- split -->' %}
                            <h4><a href="{{ product.url }}">{{ product.title }}</a></h4>
                            <div class="review-part">
                               <div class = "oke-collection-aggregate">
                                  {% render 'okendo-reviews-product-rating-summary', product: product %}
                              </div>
                              </div>
                              
                          </div>
                           
                           
                          <p><span class="change_price{{count}}" style="color: black;">{{sca_price | money}}</span> &nbsp&nbsp<span style="text-decoration: line-through;">{{ sca_compare_at_price | money }}</span></p>
                        </div>                      
                        <div class="item-wrap">
                          
                           <div class="item">
                             {% if product.metafields.custom_fields["custom_fields_allergies_image"] != blank %}
                              <div class="icon">
                                 {{ product.metafields.custom_fields["custom_fields_allergies_image"] }}
                              </div>
                             {% endif %}
                             {% if product.metafields.custom_fields["custom_fields_allergies"] != blank %}
                              <div class="text">
                                 {{ product.metafields.custom_fields["custom_fields_allergies"] }}
                              </div>
                             {% endif %}
                           </div>
                           <div class="item">
                              {% if product.metafields.custom_fields["custom_fields_uk_image"] != blank %}
                              <div class="icon">
                                 {{ product.metafields.custom_fields["custom_fields_uk_image"] }}
                              </div>
                             {% endif %}
                             {% if product.metafields.custom_fields["custom_fields_uk"] != blank %}
                              <div class="text">
                                 {{ product.metafields.custom_fields["custom_fields_uk"] }}
                              </div>
                             {% endif %}
                           </div>
                           <div class="item">
                              {% if product.metafields.custom_fields["custom_fields_sustainable_imag"] != blank %}
                              <div class="icon">
                                 {{ product.metafields.custom_fields["custom_fields_sustainable_imag"] }}
                              </div>
                             {% endif %}
                             {% if product.metafields.custom_fields["custom_fields_sustainable"] != blank %}
                              <div class="text">
                                 {{ product.metafields.custom_fields["custom_fields_sustainable"] }}
                              </div>
                             {% endif %}
                           </div>
                          
                        </div>
                      
                       <form class="addtocart" method="post" action="/cart/add">
                          <input type="hidden" name="id" value="{{ product.variants.first.id }}" />
                          <input class="product-qt" min="1" type="number" id="quantity" name="quantity" value="1"  />
<!--              <input type="submit" value="Add to cartx" class="btn collection-btn" /> -->
                          
                  
                 <span class="btn collection-btn add_to_bag" data-count="{{ count }}"><span>Quick Add To Bag</span><span><i class="icon{{count}} fa fa-plus2"></i></span></span>
<!--                          ssss -->
                 <div class="slide-categories step{{ count }}" style="display:none">
                   <h4 class="sub-title">Select Size</h4>

                   
                   
                   
                   <div class="size-div">

                     {% for variant in product.variants %}
{% unless variant.metafields.secomapp.freegifts %}
{% unless variant.title contains '% off)' %}

                      {% if variant.available %}

                     <div class="p-rel selectBox" >
                       <input style="" type="radio" name="id" data-countx="{{ count }}" data-priceee="{{variant.price | money }}" data-productid="{{ product.id }}" data-productid="{{product.id}}" id="ProductSelect-{{ section.id }}" class="product-form__variants no-js pid-{{ product.id }}{% if sca_product_variantCount == 1 %} myhidden{% endif %} " value="{{ variant.id }}">
                       <div class="variation-box">
    	                   <label for="10">  {{ variant.title }}</label>
<!--                        <br> -->
	                       <span>{{variant.price | money }} GBP</span>
                         </div>
                     </div>
                      {% else %}

                     <div class="p-rel">
                       <input style="" type="radio"  disabled="disabled" name="id" data-productid="{{ product.id }}" data-productid="{{product.id}}" id="ProductSelect-{{ section.id }}" class="product-form__variants no-js pid-{{ product.id }}{% if sca_product_variantCount == 1 %} myhidden{% endif %} " value="{{ variant.id }}">
<div class="variation-box">
                       <label for="10">  {{ variant.title }} - {{ 'products.product.sold_out' | t }}</label>

<!--                        <br> -->
	                       <span>{{variant.price | money }} GBP</span>
                         </div>
                     </div>

                      {% endif %}

{% endunless %}
{% endunless %}
                     {% endfor %}
                
                   </div>
                   
                   <input type="submit" value="Add to cart" class="btn collection-btn" />
              	  </div>
                         
                         
                       </form> 
<div class="sca-fg-cat-list" style="display: none;" name="secomapp-fg-data-{{ product.id }}"></div>

                      
<!--                        <form class="checkout" method="post" action="/checkout">
                          <input type="hidden" name="id" value="{{ product.variants.first.id }}" />
                          <input class="product-qt" min="1" type="number" id="quantity" name="quantity" value="1"  />
                          <input type="submit" value="Checkout" name="checkout" class="btn checkout" />
                         
                       </form> 
                        -->

                       
                        
                     </div>
                  </div>
                 
                   {% assign count = count | plus: 1 %}

                 {% endfor %}
                  <!-- Loop Ends -->

               </div>
              
             

              
              <script>
$(document).ready(function(){
$('.p-rel input[type="radio"]').click(function(){
  
      

var selectedOption = $("input:radio[name=id]:checked").val()

var priceee = $(this).attr('data-priceee');
  
var countx = $(this).attr('data-countx');


$('.change_price'+countx).text(priceee);


//$(".p-rel input:radio[name=id]:checked").closest('form').trigger("click");
// this.form.submit()


//alert("Your value is "+selectedOption);
});
  
  
$('.p-rel-blends input[type="radio"]').click(function(){
  
      

var selectedOption = $("input:radio[name=id]:checked").val()

var priceee = $(this).attr('data-priceee');
  
var countx = $(this).attr('data-countx');


$('.change_price_blends'+countx).text(priceee);


//$(".p-rel input:radio[name=id]:checked").closest('form').trigger("click");
// this.form.submit()


//alert("Your value is "+selectedOption);
});
  
  
  
  $('.p-rel-cap input[type="radio"]').click(function(){
  
      

var selectedOption = $("input:radio[name=id]:checked").val()

var priceee = $(this).attr('data-priceee');
  
var countx = $(this).attr('data-countx');


$('.change_price_cap'+countx).text(priceee);


//$(".p-rel input:radio[name=id]:checked").closest('form').trigger("click");
// this.form.submit()


//alert("Your value is "+selectedOption);
});
  
  

  $('.add_to_bag').click(function() {
    
   var c = $(this).attr('data-count');
    
    $('.step'+c).slideToggle(500);
    $('.icon'+c).toggleClass('fa-minus2');
   
  });
  
  
  
  $('.add_to_bag3').click(function() {
    
   var c = $(this).attr('data-count');
    
    $('.step3'+c).slideToggle(500);
    $('.icon3'+c).toggleClass('fa-minus3');
   
  });
  
  $('.add_to_bag4').click(function() {
    
   var c = $(this).attr('data-count');
    
    $('.step4'+c).slideToggle(500);
    $('.icon4'+c).toggleClass('fa-minus4');
   
  });
  
  
  $('.size-div .p-rel:nth-child(1)').click(function() {
    
    
     $(this).css("background-color", "#ccc");
     $('.size-div .p-rel:nth-child(2)').css("background-color", "#fff");
    
    
  }); 
  $('.size-div .p-rel:nth-child(2)').click(function() {
    
    
     $(this).css("background-color", "#ccc");
     $('.size-div .p-rel:nth-child(1)').css("background-color", "#fff");
    
    
  }); 
  
  

//   $('.selectBox').click(function() {
//      $(this).css("background-color", "red");
//   });
  
});
</script>

              <div class="row" style="margin-bottom: 50px;">
					<div class="col-sm-12" class="collection_title" style="color: #c3b18d;">
                   <h2 class="collection_title">Blends</h2>
                 </div>
                
                
                     {% assign countx3 = 0 %}
                
                  <!-- Loop Starts -->
                {% assign products = collections['blends'].products | sort: pageUrl %}
                 {% for product in products %}

                {% assign sca_product = product %}{% assign sca_product_id_text = "," | append : sca_product.id | append : "," %}{% assign sca_price = sca_product.price %}{% assign sca_price_min = sca_product.price_min %}{% assign sca_price_max = sca_product.price_max %}{% assign sca_compare_at_price = sca_product.compare_at_price %}{% assign sca_compare_at_price_min = sca_product.compare_at_price_min %}{% assign sca_compare_at_price_max = sca_product.compare_at_price_max %}{% assign sca_product_available = sca_product.available %}{% assign sca_product_variantCount = sca_product.variants.size %}{% assign sca_compare_at_price_varies = sca_product.compare_at_price_varies %}{% assign sca_price_varies = sca_product.price_varies %}{% assign sca_has_only_default_variant = false %}{% capture sca_product_variants_json %}{{sca_product.variants | json }}{% endcapture %} {% capture sca_product_json %}{ {% if sca_all_gift_products_ids == null or sca_all_gift_products_ids contains sca_product_id_text %}{% assign sca_product_available = false %}{% assign sca_product_variantCount = 0 %}{% assign sca_has_only_default_variant = true %}{% assign sca_is_first_variant = true %}{% capture sca_variants_json %} [{% for variant in sca_product.variants %}{% unless variant.metafields.secomapp.freegifts %}{% unless variant.title contains '(Freegifts)' %}{% unless variant.title contains '% Off' %}{% unless variant.metafields.shappify_qb.qb_hide == "1" %}{% unless variant.metafields.shappify_bundle.is_bundle == "true" %}{% unless variant.metafields.brodev_scn.hide == "true" %}{% unless variant.metafields.wholesaler2.wholesale %}{% unless variant.metafields.Wholesaler.level %}{% unless variant.title contains '(Wholesale' %}{% if sca_is_first_variant%} {{ variant | json }}{% assign sca_price = variant.price %} {% assign sca_price_min = variant.price %} {% assign sca_price_max = variant.price %} {% assign sca_compare_at_price = variant.compare_at_price %} {% assign sca_compare_at_price_min = variant.compare_at_price %} {% assign sca_compare_at_price_max = variant.compare_at_price %} {% assign sca_product_available = variant.available %} {% assign sca_product_variantCount = 1 %} {% assign sca_is_first_variant = false%}{% else %},{{variant | json }} {% if sca_price_min >= variant.price %} {% assign sca_price_min = variant.price %} {% assign sca_price = variant.price %}{% endif %} {% if sca_price_max <= variant.price %} {% assign sca_price_max = variant.price %} {% endif %} {% if variant.compare_at_price %} {% if sca_compare_at_price_min==null or sca_compare_at_price_min >= variant.compare_at_price %} {% assign sca_compare_at_price_min = variant.compare_at_price %} {% assign sca_compare_at_price = variant.compare_at_price %} {% endif %} {% if sca_compare_at_price_max==null or sca_compare_at_price_max < variant.compare_at_price %} {% assign sca_compare_at_price_max = variant.compare_at_price %} {% endif %} {% endif %} {% if variant.available == true %} {% assign sca_product_available = true %} {% endif %} {% assign sca_product_variantCount = sca_product_variantCount | plus: 1 %}{% endif %}{% endunless %}{% endunless %}{% endunless %}{% endunless %}{% endunless %}{% endunless %}{% endunless %}{% endunless %}{% endunless %}{%endfor%} ]{% endcapture %}{% if sca_price_min < sca_price_max %}{% assign sca_price_varies = true %}{% else %}{% assign sca_price_varies = false %}{% endif %}{% if sca_compare_at_price_min < sca_compare_at_price_max %}{% assign sca_compare_at_price_varies = true %}{% else %}{% assign sca_compare_at_price_varies = false %}{% endif %}{% if sca_product_variantCount > 1 %}{% assign sca_has_only_default_variant = false %}{% endif %}{% if sca_product_variantCount == sca_product.variants.size %} "variants":{{ sca_product.variants }},{% else %}{%assign sca_product_variants_json = sca_variants_json %} "variants":{{ sca_variants_json }},{% endif %}{% else %} "variants":{{ sca_product_variants_json }},{% endif %} "id": {{sca_product.id}}, "title": {{sca_product.title | json}}, "handle": {{sca_product.handle | json}}, "description": {{sca_product.description | json}}, "published_at": "{{sca_product.published_at | date: "%Y-%m-%dT%H-%M-%S%:z" }}", "created_at": "{{sca_product.created_at | date: "%Y-%m-%dT%H-%M-%S%:z" }}", "vendor": {{sca_product.vendor | json}}, "type": {{sca_product.type | json}}, "tags": {{sca_product.tags | json}}, "price": {{sca_price}}, "price_min": {{sca_price_min}}, "price_max": {{sca_price_max}}, "available": {{sca_product.available}}, "price_varies": {{sca_price_varies}}, "compare_at_price": {{sca_compare_at_price}}, "compare_at_price_min": {{sca_compare_at_price_min}}, "compare_at_price_max": {{sca_compare_at_price_max}}, "compare_at_price_varies": {{sca_compare_at_price_varies}}, "images": {{sca_product.images | json}}, "featured_image": {{sca_product.featured_image | json }}, "options": {{sca_product.options | json}}, "media": {{sca_product.media | json }}, "content": {{sca_product.content | json }}} {% endcapture sca_product_json %}

                  <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                     <div class="product-box">
                        <div class="img-block">
                           <a href="{{ product.url }}"><img src="{{ product.featured_image | img_url: '1024x1024' }}" alt=""></a>
                        </div>
                        <div class="text-block">
                          <div class="des-top">
                            {% assign product_description = product.description | split: '<!-- split -->' %}
                            <h4><a href="{{ product.url }}">{{ product.title }}</a></h4>
                            <div class="review-part">
{% render 'okendo-reviews-product-rating-summary', product: product %}
                              </div>                              
                          </div>         
                           
                            <p><span class="change_price_blends{{countx3}}" style="color: black;">{{sca_price | money}}</span> &nbsp&nbsp<span style="text-decoration: line-through;">{{ sca_compare_at_price | money }}</span></p>
                        </div>                      
                        <div class="item-wrap">
                          
                           <div class="item">
                             {% if product.metafields.custom_fields["custom_fields_allergies_image"] != blank %}
                              <div class="icon">
                                 {{ product.metafields.custom_fields["custom_fields_allergies_image"] }}
                              </div>
                             {% endif %}
                             {% if product.metafields.custom_fields["custom_fields_allergies"] != blank %}
                              <div class="text">
                                 {{ product.metafields.custom_fields["custom_fields_allergies"] }}
                              </div>
                             {% endif %}
                           </div>
                           <div class="item">
                              {% if product.metafields.custom_fields["custom_fields_uk_image"] != blank %}
                              <div class="icon">
                                 {{ product.metafields.custom_fields["custom_fields_uk_image"] }}
                              </div>
                             {% endif %}
                             {% if product.metafields.custom_fields["custom_fields_uk"] != blank %}
                              <div class="text">
                                 {{ product.metafields.custom_fields["custom_fields_uk"] }}
                              </div>
                             {% endif %}
                           </div>
                           <div class="item">
                              {% if product.metafields.custom_fields["custom_fields_sustainable_imag"] != blank %}
                              <div class="icon">
                                 {{ product.metafields.custom_fields["custom_fields_sustainable_imag"] }}
                              </div>
                             {% endif %}
                             {% if product.metafields.custom_fields["custom_fields_sustainable"] != blank %}
                              <div class="text">
                                 {{ product.metafields.custom_fields["custom_fields_sustainable"] }}
                              </div>
                             {% endif %}
                           </div>
                          
                        </div>
<!--                         <div class="btn-block">
                          <a href="{{ product.url }}">Checkout</a>                        
                        </div> -->
                       <form class="addtocart" method="post" action="/cart/add">
                          <input type="hidden" name="id" value="{{ product.variants.first.id }}" />
                          <input class="product-qt" min="1" type="number" id="quantity" name="quantity" value="1"  />
<!--                           <input type="submit" value="Add to cart ll" class="btn collection-btn" /> -->
                       <span class="btn collection-btn add_to_bag3" data-count="{{ countx3 }}"><span>Quick Add To Bag</span><span><i class="icon3{{countx3}} fa fa-plus3"></i></span></span>
                        
                          <div class="slide-categories step3{{ countx3 }}" style="display:none">
                   <h4 class="sub-title">Select Size</h4>

                   
                   
                   
                   <div class="size-div">

                     {% for variant in product.variants %}
{% unless variant.metafields.secomapp.freegifts %}
{% unless variant.title contains '% off)' %}

                      {% if variant.available %}

                     <div class="p-rel p-rel-blends">
                       <input style="" type="radio" name="id" data-countx="{{ countx3 }}" data-priceee="{{variant.price | money }}" data-productid="{{ product.id }}" data-productid="{{product.id}}" id="ProductSelect-{{ section.id }}" class="product-form__variants no-js pid-{{ product.id }}{% if sca_product_variantCount == 1 %} myhidden{% endif %} " value="{{ variant.id }}">
                       <div class="variation-box">
    	                   <label for="10">  {{ variant.title }}</label>
<!--                        <br> -->
	                       <span>{{variant.price | money }} GBP</span>
                         </div>
                     </div>
                     {% else %}

                     <div class="p-nj p-rel-blends">
                       <input style="" type="radio"  disabled="disabled" name="id" data-productid="{{ product.id }}" data-productid="{{product.id}}" id="ProductSelect-{{ section.id }}" class="product-form__variants no-js pid-{{ product.id }}{% if sca_product_variantCount == 1 %} myhidden{% endif %} " value="{{ variant.id }}">
                       <div class="variation-box">
                      	 <label for="10">  {{ variant.title }} - {{ 'products.product.sold_out' | t }}</label>

<!--                        <br> -->
	                       <span>{{variant.price | money }} GBP</span>
                       	</div>
                     </div>

                      {% endif %}

{% endunless %}
{% endunless %}
                     {% endfor %}
                
                   </div>
                   
                   <input type="submit" value="Add to cart" class="btn collection-btn" />
              	  </div>
                       
                       </form>
<div class="sca-fg-cat-list" style="display: none;" name="secomapp-fg-data-{{ product.id }}"></div>

<!--                        dddd -->
                         
                     </div>
                  </div>
                
                {% assign countx3 = countx3 | plus: 1 %}
                 {% endfor %}
                  <!-- Loop Ends -->

               </div>
              
              
              
          
              
              
              
              
              <div class="row" style="margin-bottom: 0px;">
					<div class="col-sm-12" class="collection_title" style="color: #c3b18d;">
                   <h2 class="collection_title">Capsules</h2>
                      
                      
                      
                      
                      
                      
                      
                      
                      
                      
                      
                      
                 </div>
                
                   {% assign countx4 = 0 %}
                
                  <!-- Loop Starts -->
                {% assign products = collections['capsules'].products | sort: pageUrl %}
                 {% for product in products %}
               
                  <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                     <div class="product-box">
                        <div class="img-block">
                           <a href="{{ product.url }}"><img src="{{ product.featured_image | img_url: '1024x1024' }}" alt=""></a>
                        </div>
                        <div class="text-block">
                          <div class="des-top">
                            {% assign product_description = product.description | split: '<!-- split -->' %}
                            <h4><a href="{{ product.url }}">{{ product.title }}</a></h4>
                            <div class="review-part">
                               
{% render 'okendo-reviews-product-rating-summary', product: product %}
                              </div>
                              
                          </div>
                           
                           
                            <p><span  class="change_price_cap{{countx4}}" style="color: black;">{{sca_price | money}}</span> &nbsp&nbsp<span style="text-decoration: line-through;">{{ sca_compare_at_price | money }}</span></p>
                        </div>
                    
                        <div class="item-wrap">
                          
                           <div class="item">
                             {% if product.metafields.custom_fields["custom_fields_allergies_image"] != blank %}
                              <div class="icon">
                                 {{ product.metafields.custom_fields["custom_fields_allergies_image"] }}
                              </div>
                             {% endif %}
                             {% if product.metafields.custom_fields["custom_fields_allergies"] != blank %}
                              <div class="text">
                                 {{ product.metafields.custom_fields["custom_fields_allergies"] }}
                              </div>
                             {% endif %}
                           </div>
                           <div class="item">
                              {% if product.metafields.custom_fields["custom_fields_uk_image"] != blank %}
                              <div class="icon">
                                 {{ product.metafields.custom_fields["custom_fields_uk_image"] }}
                              </div>
                             {% endif %}
                             {% if product.metafields.custom_fields["custom_fields_uk"] != blank %}
                              <div class="text">
                                 {{ product.metafields.custom_fields["custom_fields_uk"] }}
                              </div>
                             {% endif %}
                           </div>
                           <div class="item">
                              {% if product.metafields.custom_fields["custom_fields_sustainable_imag"] != blank %}
                              <div class="icon">
                                 {{ product.metafields.custom_fields["custom_fields_sustainable_imag"] }}
                              </div>
                             {% endif %}
                             {% if product.metafields.custom_fields["custom_fields_sustainable"] != blank %}
                              <div class="text">
                                 {{ product.metafields.custom_fields["custom_fields_sustainable"] }}
                              </div>
                             {% endif %}
                           </div>
                          
                        </div>
<!--                         <div class="btn-block">
                          <a href="{{ product.url }}">Checkout</a>
                          <a href="#">{{sca_price | money}}</a>
                        </div> -->
                       <form class="addtocart" method="post" action="/cart/add">
                          <input type="hidden" name="id" value="{{ product.variants.first.id }}" />
                          <input class="product-qt" min="1" type="number" id="quantity" name="quantity" value="1"  />
<!--                           <input type="submit" value="Add to cart uuu" class="btn collection-btn" /> -->

                         
                             <span class="btn collection-btn add_to_bag4" data-count="{{ countx4 }}"><span>Quick Add To Bag</span><span><i class="icon4{{countx4}} fa fa-plus4"></i></span></span>
                         
                         
                         
                      <div class="slide-categories step4{{ countx4 }}" style="display:none">
                   <h4 class="sub-title">Select Size</h4>

                   
                   
                   
                   <div class="size-div">

                     {% for variant in product.variants %}
{% unless variant.metafields.secomapp.freegifts %}
{% unless variant.title contains '% off)' %}

                      {% if variant.available %}

                     <div class="p-rel p-rel-blends">
                       <input style="" type="radio" name="id" data-countx="{{ countx4 }}" data-priceee="{{variant.price | money }}" data-productid="{{ product.id }}" data-productid="{{product.id}}" id="ProductSelect-{{ section.id }}" class="product-form__variants no-js pid-{{ product.id }}{% if sca_product_variantCount == 1 %} myhidden{% endif %} " value="{{ variant.id }}">
                       <div class="variation-box">
    	                   <label for="10">  {{ variant.title }}</label>
<!--                        <br> -->
	                       <span>{{variant.price | money }} GBP</span>
                         </div>
                     </div>
                      {% else %}

                     <div class="p-nj p-rel-blends">
                       <input style="" type="radio"  disabled="disabled" name="id" data-productid="{{ product.id }}" data-productid="{{product.id}}" id="ProductSelect-{{ section.id }}" class="product-form__variants no-js pid-{{ product.id }}{% if sca_product_variantCount == 1 %} myhidden{% endif %} " value="{{ variant.id }}">
                       <div class="variation-box">
                     	  <label for="10">  {{ variant.title }} - {{ 'products.product.sold_out' | t }}</label>
<!--                        <br> -->
	                       <span>{{variant.price | money }} GBP</span>
                         </div>
                     </div>

                      {% endif %}

{% endunless %}
{% endunless %}
                     {% endfor %}
                
                   </div>
                   
                   <input type="submit" value="Add to cart" class="btn collection-btn" />
              	  </div>
                         
                         
                         <!--                          cccc -->
                         
                         
                       </form> 
<div class="sca-fg-cat-list" style="display: none;" name="secomapp-fg-data-{{ product.id }}"></div>

                         
                     </div>
                </div>
                     {% assign countx4 = countx4 | plus: 1 %}
                 {% endfor %}
                  <!-- Loop Ends -->

               </div>
            </div>
         </div>
      </div>
   </div>
</section>

{% schema %}
{
  "name": {
    "en": "Collections list page"
  },
  "settings": [
	{
		"label": "Banner Image",
		"id": "banner_image",
		"type": "image_picker"
	},
	{
		"label": "Banner Text",
		"id": "banner_text",
		"type": "text"
	},
    {
      "label": {
      "en": "First Collection"
      },
      "id": "collection1",
      "type": "collection"
    },
 {
      "type": "checkbox",
      "id": "enable_payment_button",
      "label": {
        "en": "Show dynamic checkout button"
      },
      "info": {
        "en": "Each customer will see their preferred payment method from those available on your store, such as PayPal or Apple Pay. [Learn more](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)"
      },
      "default": true
    },
	{
      "label": {
      "en": "Second Collection"
      },
      "id": "collection2",
      "type": "collection"
    }
  ]
}

{% endschema %}
