<!-- slider section start -->

<div class="p-0 home-banner layout-2-menu shadow-home">
  <div class="slide-1 home-slider">
    
    {% for block in section.blocks %}
      <div class="container-fluid d-block mx-auto slideshow-container">
        <div class="home text-center p-center" id="home-banner" style="background-image:url('{{ block.settings.banner_image | img_url : '1920x1080' }}');">
          <img src="{{ block.settings.banner_image | img_url : '1920x1080' }}" 
               data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
               data-aspectratio="{{ section.settings.logo.aspect_ratio }}"
               data-sizes="540"
               alt="{{ logo_alt | escape }}"
               class="bg-imgg desktop_banner_image d-sm-none" id="ctmMainBannerImg" alt="">
          <img src="{{ block.settings.mobile_banner_image | img_url : '1920x1080' }}" 
               data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
               data-aspectratio="{{ section.settings.logo.aspect_ratio }}"
               data-sizes="540"
               alt="{{ logo_alt | escape }}"
               class="bg-imgg mobile_banner_image d-none" id="ctmMainBannerImg" alt="">
          
          <div class="sliders-desc-containers">
             <div class="slider-contain">
                <div>
                   {% if block.settings.banner_text != blank %}<h5>{{ block.settings.banner_text }}</h5> {% endif %}
                  	<div class="onlyButtons left">   
                    	{% if block.settings.button_url != blank %} <a href="{{block.settings.button_url}}" class="btn btn-solid firstButton">{{ block.settings.button_text }}</a>{% endif %}
                     	{% if block.settings.button_url_second != blank %} <a href="{{block.settings.button_url_second}}" class="btn btn-solid secondButton">{{ block.settings.button_text_second }}</a>{% endif %}
               		</div>
                </div>
             </div>
          </div>
<!--           <img class="image-for-sm" src="https://cdn.shopify.com/s/files/1/0073/8102/4820/t/36/assets/5pauch.jpg?v=1617201228"> -->
        </div>
      </div>
    {% endfor %}
    
  </div>
</div>

{% comment %}
{% render 'custom-strip-bar' %}
{% endcomment %}


{% schema %}
{
  "name": {
    "en": "Slideshow"
  },
  "max_blocks": 4,
  "settings": [

  ],
  "blocks": [
    {
      "type": "image",
      "name": {
        "en": "Image slide"
      },
      "settings": [
		{
			"type": "image_picker",
			"id": "banner_image",
			"label": "Set Banner Image"
		},
		{
			"type": "image_picker",
			"id": "mobile_banner_image",
			"label": "Set mobile Banner Image"
		},
		{
			"type": "html",
			"id": "banner_text",
			"label": "Set Banner Text"
		},	
		{
			"type": "text",
			"id": "button_text",
			"label": "Set First Button Title"
		},
		{
			"type": "url",
			"id": "button_url",
			"label": "Set Button Link"
		},
		{
			"type": "text",
			"id": "button_text_second",
			"label": "Set Second Button Title"
		},
		{
			"type": "url",
			"id": "button_url_second",
			"label": "Set Second Button Link"
		}
      ]
    }
  ],
  "presets": [
    {
      "name": {
        "en": "Slideshow"
      },
      "category": {
        "en": "Image"
      },
      "settings": {
        
      },
      "blocks": [
        {
          "type": "image"
        },
        {
          "type": "image"
        },
		{
          "type": "image"
        },
		{
          "type": "image"
        }
      ]
    }
  ]
}
{% endschema %}
